# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Robot Framework outputs
results/
output.xml
log.html
report.html
selenium-screenshot-*.png
pabot_results/
.pabotsuitenames

# Locust
*.csv
locust_report*.html

# IDE
.idea/
.vscode/
.settings/

# OS
.DS_Store
Thumbs.db
